# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# gitbook files
_book
/_tools/calibre-3.46.0.msi
/book.pdf
/node_modules/
